<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.userportraitsystem.mapper.UpsAppInfoMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.java.userportraitsystem.entity.UpsAppInfo">
        <id column="id" property="id"/>
        <result column="appkey" property="appkey"/>
        <result column="desc" property="desc"/>
        <result column="location" property="location"/>
        <result column="business_group" property="businessGroup"/>
        <result column="peak_qps" property="peakQps"/>
        <result column="data_auth" property="dataAuth"/>
        <result column="creator" property="creator"/>
        <result column="modifier" property="modifier"/>
        <result column="addtime" property="addtime"/>
        <result column="modtime" property="modtime"/>
        <result column="owner" property="owner"/>
        <result column="online" property="online"/>
        <result column="visit_all_label" property="visitAllLabel"/>
        <result column="bu" property="bu"/>
        <result column="app_name" property="appName"/>
        <result column="app_desc" property="appDesc"/>
        <result column="app_attr" property="appAttr"/>
        <result column="bgbu" property="bgbu"/>
        <result column="feedback_cycle_type" property="feedbackCycleType"/>
        <result column="feedback_date" property="feedbackDate"/>
        <result column="feedback_status" property="feedbackStatus"/>
        <result column="admin" property="admin"/>
        <result column="internal" property="internal"/>
        <result column="auth_biz" property="authBiz"/>
    </resultMap>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select *
        from ups_app_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByAppkeyIds" parameterType="java.util.List" resultMap="BaseResultMap">
        select *
        from ups_app_info
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")" index="">
            #{id,jdbcType=INTEGER}
        </foreach>
    </select>
    <select id="selectUpsAppInfoList" resultMap="BaseResultMap">
        select *
        from ups_app_info
        <where>
            <if test="query != null">
                and (appkey like concat("%",#{query},"%") or app_name like concat("%",#{query},"%"))
            </if>
            <if test="owner != null">
                and (`owner` like concat("%",#{owner},"%") or `admin` like concat("%",#{owner},"%"))
            </if>
            <if test="feedBackStatus != null">
                and feedback_status = #{feedBackStatus}
            </if>
            <if test="feedBackCycleType != null">
                and feedback_cycle_type = #{feedBackCycleType}
            </if>
        </where>
    </select>
    <insert id="insertUpsAppkeySelective" parameterType="com.java.userportraitsystem.entity.UpsAppInfo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into ups_app_info
        <!--prefix 前缀 suffix 后缀 suffixOverrides 去掉结束的符号-->
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="appkey != null">
                appkey,
            </if>
            <if test="desc != null">
                `desc`,
            </if>
            <if test="location != null">
                location,
            </if>
            <if test="businessGroup != null">
                business_group,
            </if>
            <if test="peakQps != null">
                peak_qps,
            </if>
            <if test="dataAuth != null">
                data_auth,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="addtime != null">
                addtime,
            </if>
            <if test="modtime != null">
                modtime,
            </if>
            <if test="owner != null">
                `owner`,
            </if>
            <if test="visitAllLabel != null">
                visit_all_label,
            </if>
            <if test="bu != null">
                bu,
            </if>
            <if test="appName != null">
                app_name,
            </if>
            <if test="appDesc != null">
                app_desc,
            </if>
            <if test="appAttr != null">
                app_attr,
            </if>
            <if test="bgbu != null">
                bgbu,
            </if>
            <if test="feedbackCycleType != null">
                feedback_cycle_type,
            </if>
            <if test="feedbackDate != null">
                feedback_date,
            </if>
            <if test="feedbackStatus != null">
                feedback_status,
            </if>
            <if test="admin != null">
                `admin`,
            </if>
            <if test="internal != null">
                internal,
            </if>
            <if test="authBiz != null">
                auth_biz,
            </if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="appkey != null">
                #{appkey},
            </if>
            <if test="desc != null">
                #{desc},
            </if>
            <if test="location != null">
                #{location},
            </if>
            <if test="businessGroup != null">
                #{businessGroup},
            </if>
            <if test="peakQps != null">
                #{peakQps},
            </if>
            <if test="dataAuth != null">
                #{dataAuth},
            </if>
            <if test="creator != null">
                #{creator},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="addtime != null">
                #{addtime},
            </if>
            <if test="modtime != null">
                #{modtime},
            </if>
            <if test="owner != null">
                #{owner},
            </if>
            <if test="visitAllLabel != null">
                #{visitAllLabel},
            </if>
            <if test="bu != null">
                #{bu},
            </if>
            <if test="appName != null">
                #{appName},
            </if>
            <if test="appDesc != null">
                #{appDesc},
            </if>
            <if test="appAttr != null">
                #{appAttr},
            </if>
            <if test="bgbu != null">
                #{bgbu},
            </if>
            <if test="feedbackCycleType != null">
                #{feedbackCycleType},
            </if>
            <if test="feedbackDate != null">
                #{feedbackDate},
            </if>
            <if test="feedbackStatus != null">
                #{feedbackStatus},
            </if>
            <if test="admin != null">
                #{admin},
            </if>
            <if test="internal != null">
                #{internal},
            </if>
            <if test="authBiz != null">
                #{authBiz},
            </if>
        </trim>
    </insert>

</mapper>
