<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.userportraitsystem.mapper.UpsAppInfoMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.java.userportraitsystem.entity.UpsAppInfo">
        <id column="id" property="id"/>
        <result column="appkey" property="appkey"/>
        <result column="desc" property="desc"/>
        <result column="location" property="location"/>
        <result column="business_group" property="businessGroup"/>
        <result column="peak_qps" property="peakQps"/>
        <result column="data_auth" property="dataAuth"/>
        <result column="creator" property="creator"/>
        <result column="modifier" property="modifier"/>
        <result column="addtime" property="addtime"/>
        <result column="modtime" property="modtime"/>
        <result column="owner" property="owner"/>
        <result column="online" property="online"/>
        <result column="visit_all_label" property="visitAllLabel"/>
        <result column="bu" property="bu"/>
        <result column="app_name" property="appName"/>
        <result column="app_desc" property="appDesc"/>
        <result column="app_attr" property="appAttr"/>
        <result column="bgbu" property="bgbu"/>
        <result column="feedback_cycle_type" property="feedbackCycleType"/>
        <result column="feedback_date" property="feedbackDate"/>
        <result column="feedback_status" property="feedbackStatus"/>
        <result column="admin" property="admin"/>
        <result column="internal" property="internal"/>
        <result column="auth_biz" property="authBiz"/>
    </resultMap>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select *
        from ups_app_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByAppkeyIds" parameterType="java.util.List" resultMap="BaseResultMap">
        select *
        from ups_app_info
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")" index="">
            #{id,jdbcType=INTEGER}
        </foreach>
    </select>
    <select id="selectUpsAppInfoList" resultMap="BaseResultMap">
        select *
        from ups_app_info
        <where>
            <if test="query != null">
                and (appkey like concat("%",#{query},"%") or app_name like concat("%",#{query},"%"))
            </if>
            <if test="owner != null">
                and (`owner` like concat("%",#{owner},"%") or `admin` like concat("%",#{owner},"%"))
            </if>
            <if test="feedBackStatus != null">
                and feedback_status = #{feedBackStatus}
            </if>
            <if test="feedBackCycleType != null">
                and feedback_cycle_type = #{feedBackCycleType}
            </if>
        </where>
    </select>
</mapper>
